<!-- Navbar -->
<app-navbar></app-navbar>
<!-- ends -->
<div class="container">
  <!-- Movies-container -->
  <div class="page_container_wrap">
          <h1 *ngIf="!isSearchUsed">Popular Movies</h1>
          <h1 *ngIf="isSearchUsed">Search results for: {{searchedMovie}}</h1>
          <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let movie of movies">
                <div class="card">
                    <img class="card-img-top" [ngClass]="{'withoutImg': movie.poster_path==null}" [src]=baseUrlImages+movie.poster_path alt="No Image Available">
                    <div class="card-body">
                      <h5 class="card-title">{{movie.title}}</h5>
                      <p class="card-text" data-toggle="tooltip" data-placement="bottom" title={{movie.overview}}>{{movie.overview}}</p>
                      <p class="card-text">Rating: {{movie.vote_average}}</p>
                      <a href="#" class="btn btn-primary">Like</a>
                    </div>
                  </div>
            </div>
          </div>
  </div>

  <!-- ends -->
  <!-- Pagination-container -->
  <div class="pagination_wrapper">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" *ngFor="let p of totalPages; let i=index" (click)="changePage(i, $event)" [ngClass]="{'active':i==page-1}">{{i+1}}</button>
          </div>
      </div>
  </div>
  <!-- ends -->
</div>
